
.backLink{
    display: block;
    font-size: 20px;
    color: black;
    margin: 15px;
}

.backLink:hover,
.backLink:focus{
    color:blue
}

.details{
width:800px
}

.description{
    font-size: 20px;
    font-weight: 500px;

}

.informLink{
    display: block;
    font-size: 18px;
    color: black;
    padding-bottom: 3px;
}

.informLink:hover,
.informLink:focus{
    color:blue
}